<div id="main" class="container clear-top">

  <div class="row">
    <div class="form-group col-md-7">
      <select ng-model="$ctrl.format"
              ng-change="$ctrl.loadRankings($ctrl.format)"
              name="format"
              required
              ng-options="f.value as f.label for f in $ctrl.formats"></select>
    </div>

    <div class="form-group pull-right col-md-5">
      <input type="text" class="form-control" placeholder="Search" ng-model="$ctrl.search">
    </div>
  </div>

  <div class="row scrollable height-tall">
    <h3 ng-if="$ctrl.loading"><i class="fa fa-spinner fa-spin"></i> Loading Data...</h3>
    <table ng-if="!$ctrl.loading" class="players table table-condensed table-striped table-hover" >
      <thead>
        <th><a href='' ng-click="$ctrl.predicate = 'rank'; $ctrl.reverse = !$ctrl.reverse">Rank</a></th>
        <th><a href='' ng-click="$ctrl.predicate = 'tier'; $ctrl.reverse = !$ctrl.reverse">Tier</a></th>
        <th><a href='' ng-click="$ctrl.predicate = 'name'; $ctrl.reverse = !$ctrl.reverse">Name</a></th>
        <th><a href='' ng-click="$ctrl.predicate = 'position'; $ctrl.reverse = !$ctrl.reverse">Position</a></th>
        <th><a href='' ng-click="$ctrl.predicate = 'team'; $ctrl.reverse = !$ctrl.reverse">Team</a></th>
        <th><a href='' ng-click="$ctrl.predicate = 'bye_week'; $ctrl.reverse = !$ctrl.reverse">Bye</a></th>
        <th><a href='' ng-click="$ctrl.predicate = 'best'; $ctrl.reverse = !$ctrl.reverse">Best</a></th>
        <th><a href='' ng-click="$ctrl.predicate = 'worst'; $ctrl.reverse = !$ctrl.reverse">Worst</a></th>
        <th><a href='' ng-click="$ctrl.predicate = 'average'; $ctrl.reverse = !$ctrl.reverse">Average</a></th>
        <th><a href='' ng-click="$ctrl.predicate = 'std_dev'; $ctrl.reverse = !$ctrl.reverse">Std Dev</a></th>
        <th><a href='' ng-click="$ctrl.predicate = 'average_draft_position'; $ctrl.reverse = !$ctrl.reverse">ADP</a></th>
      </thead>
      <tbody>
      <tr ng-repeat="player in $ctrl.rankings | orderBy:$ctrl.predicate:$ctrl.reverse | filter:$ctrl.search ">
          <td>{{player.rank}}</td>
          <td>{{player.tier}}</td>
          <td>{{player.name}}</td>
          <td>{{player.position}}</td>
          <td>{{player.team}}</td>
          <td>{{player.bye_week}}</td>
          <td>{{player.best_rank}}</td>
          <td>{{player.worst_rank}}</td>
          <td>{{player.average_rank | number: 2}}</td>
          <td>{{player.std_dev | number: 2}}</td>
          <td>{{player.average_draft_position || 'NA'}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
